<h1>Tárolók</h1>

<form class="form-container" (ngSubmit)="addIngredient()">
  <h2>Új alapanyag</h2>

  <input
    type="text"
    name="name"
    [(ngModel)]="newIngredient.name"
    placeholder="Név"
    required
  />

  <input
    type="number"
    name="quantity"
    [(ngModel)]="newIngredient.quantity"
    placeholder="Mennyiség"
    required
  />

  <input
    type="text"
    name="unit"
    [(ngModel)]="newIngredient.unit"
    placeholder="Egység"
    required
  />

  <select
    name="location"
    [(ngModel)]="newIngredient.location"
  >
    <option value="fridge">Hűtő</option>
    <option value="pantry">Tároló</option>
  </select>

  <label for="expiresAt">Lejárat:</label>

  <input
    id="expiresAt"
    type="date"
    name="expiresAt"
    [(ngModel)]="newIngredient.expiresAt"
    required
  />

  <button type="submit">Hozzáadás</button>
</form>

<hr />

@if (ingredients.length === 0) {
  <p>Nincs még alapanyag.</p>
}

@for (ingredient of ingredients; track ingredient.id) {
  <div class="ingredient-card">
    <h3>{{ ingredient.name }}</h3>

    <p>Mennyiség: {{ ingredient.quantity }} {{ ingredient.unit }}</p>
    <p>Hely: {{ ingredient.location }}</p>
    <p>Behelyezve: {{ ingredient.addedAt | date:'yyyy.MM.dd' }}</p>
    <p>Lejárat: {{ ingredient.expiresAt | date:'yyyy.MM.dd' }}</p>
  </div>
}